<div class ="form lists">
<form action="/stylists" method="post">
<div class="form-group">
    <input type="text" class="form-control" placeholder="name" input id="name" name="name" type="text">
 </div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="stylistSpecialization" input id="stylistSpecialization" name="stylistSpecialization" type="text">
  </div>

 <button type="submit" class="btn btn-info">  ADD STYLIST </button>
</form>
</div>
